extends base

mixin modality(modality, onsiteDis=true, onlineDis=true)

    - onsiteDis = modality === 'online' ? true : false;
    - onlineDis = modality === 'onsite' ? true : false;

    label.modality__label(class=`${onsiteDis?'disabled':''}`)
        input.book__input.onsite(disabled=onsiteDis checked=onlineDis type='radio' name='modality' value='onsite' ) 
        .modality
            span Onsite
                
    label.modality__label(class=`${onlineDis?'disabled':''}`)
        input.book__input.onsite(disabled=onlineDis checked=onsiteDis type='radio' name='modality' value='online')
        .modality
            span Online

mixin groupClass(groupClass, groupDis=true, privateDis=true)

    label.modality__label
        input.book__input.group(checked=(!groupClass) type='radio' name='group' value='false') 
        .modality
            span Private Class
    
    label.modality__label(class=`${(!groupClass)?'disabled':''}`)
        input.book__input.group(disabled=(!groupClass) type='radio' name='group' value='true')
        .modality
            span Group Class

block header
    header.booking__header
        a(href='/')
            img.booking__img(src='/img/logo-black.png' alt='bender symbol logo')
        h3 Choose date and time

block content
    main.booking(class=`${teacher.bending}`)
        div
            h3 Select a day
            .calendar 
                .month
                    button#previous__month: span.material-symbols-outlined arrow_back
                    h4#month__label #{month.toUpperCase()} / #{year}
                    button#next__month: span.material-symbols-outlined arrow_forward
                .calendar__header
                    each day in ['SUN' , 'MON', 'TUE', 'WED', 'THU', 'FRI', 'SAT']
                        .header-day= day 
                

                .week__container
                    - let i = 0
                    each week in [1,2,3,4,5]
                        .week
                            each day in [1,2,3,4,5,6,7]
                                label
                                    input.booking-day(type='radio' name='day' value=`${days[i]}`)
                                    .day
                                        span= `${days[i].getDate()}`
                                        - i++

        div
            h3 Select the time
            .timetable 
                each hour in teacher.timetable
                    label
                        input.booking-hour(type='radio' name='hour' value=`${hour}`)
                        .hour
                            span= hour
                            
            h3.modality__header Modality
            .booking__modality 
                +modality(teacher.modality)
            
            .booking__modality 
                +groupClass(teacher.groupClass)

        div
            h3 Book for 
            .confirm__booking__container
                label#day__picked__label _____
                span AT
                label#hour__picked__label _____
                span FOR
                label#booking-price $#{teacher.price},00
                button.btn#booking__btn(data-teacher-id=`${teacher.teacherId}`) Book !