extends base

block header
    header.booking__header
        a(href='/')
            img.booking__img(src='/img/logo-black.png' alt='bender symbol logo')
        h3 Choose date and time

block content
    main.booking(class=`${bending}`)
        div
            h3 Select a day
            .calendar 
                .month
                    button#previous__month: span.material-symbols-outlined arrow_back
                    h4#month__label #{month.toUpperCase()} / #{year}
                    button#next__month: span.material-symbols-outlined arrow_forward
                .calendar__header
                    each day in ['SUN' , 'MON', 'TUE', 'WED', 'THU', 'FRI', 'SAT']
                        .header-day= day 
                

                .week__container
                    - let i = 0
                    each week in [1,2,3,4,5]
                        .week
                            each day in [1,2,3,4,5,6,7]
                                label
                                    input.booking-day(type='radio' name='day' value=`${days[i]}`)
                                    .day
                                        span= `${days[i].getDate()}`
                                        - i++

        div
            h3 Select the time
            .timetable 
                each hour in timetable
                    label
                        input.booking-hour(type='radio' name='hour' value=`${hour}`)
                        .hour
                            span= hour
                            
            h3.modality__header Modality
            .booking__modality 
                label.modality__label 
                    input.booking__modality__input.online__onsite(type='radio' name='modality' value='onsite') 
                    .modality
                            span Onsite
                
                label.modality__label 
                    input.booking__modality__input.online__onsite(type='radio' name='modality' value='online' checked)
                    .modality
                        span Online
            
            .booking__modality 
                label.modality__label 
                    input.booking__modality__input.private__group(type='radio' name='group' value='private') 
                    .modality
                            span Private Class
                
                label.modality__label 
                    input.booking__modality__input.private__group(type='radio' name='group' value='group')
                    .modality
                        span Group Class

        div
            h3 Book for 
            .confirm__booking__container
                label#day__picked__label _____
                span AT
                label#hour__picked__label _____
                span FOR
                label#booking-price $#{price},00
                button.btn#booking__btn(data-teacher-id=`${teacherId}`) Book !