extends base

include _ratingStars

block content 
    main
        .classes-cards-container.index-container(class=`${user.bending}`)
                
            if !bookings
                h1 You dont have bookings yet

            else     
                .teachers-cards
                    
                    each booking in bookings
                    
                        .class-card.index-card.my__classes__card
                            div
                                img(src=`/img/teachers/${booking.teacher.photo}` alt=`Photo of ${booking.teacher.name}`)

                            .my__class__card__presentation
                                if booking.teacher.type === 'flying' || booking.teacher.type === 'healing'
                                    h5= `${booking.teacher.type.charAt(0).toUpperCase() + booking.teacher.type.slice(1)} class with ${booking.teacher.name}`
                                else
                                    h5= `${booking.teacher.type.charAt(0).toUpperCase() + booking.teacher.type.slice(1)} bending class with ${booking.teacher.name}`

                                .booking__info 
                                    label
                                        label.span.material-symbols-outlined event 
                                        span= `${booking.date.toLocaleDateString()}`
                                    label at
                                    label
                                        label.span.material-symbols-outlined schedule 
                                        span= `${booking.time}`
                                                    
                                
                                .booking__types
                                    .booking__info 
                                            if booking.modality === 'onsite'
                                                span= booking.teacher.classLocation.address
                                            else 
                                                span Online
                                    .booking__info     
                                            if booking.groupClass
                                                span Group class
                                            else 
                                                span Private                    
                                //- p= booking.teacher.presentation

                            //- .class-card-info
                            //-     h6= `$${booking.teacher.price}/h`
                            //-     .rating
                            //-         .rating-stars
                            //-             +stars(booking.teacher.ratingsAverage)
                                
                                    //- span.rating-average= `${booking.teacher.ratingsAverage.toString().padEnd(3, '.0')}`

                            a(href='#') 
                                button.btn
                                    label.span.material-symbols-outlined edit 
                                    label Reschedule
