extends base

block content 
    main
        .bending-cards-container.index-container

            each bending in bendings
                
                a(href=`/bending/${bending.name}`)
                    .bending-card.index-card(class=`${bending.name}`)
                        .bending-card-img
                            img(src=`../img/${bending.name}.png` alt=`${bending.name} symbol`)
            
                        div
                            - let name = bending.name.charAt(0).toUpperCase() + bending.name.slice(1);
                            h6= `${name} bending classes`    
                            div
                                .bending-card-span
                                    span= `${bending.numTeachers} teachers`
                                    span.material-symbols-outlined= `${icons[bending.name][0]}`
                                    span.material-symbols-outlined= `${icons[bending.name][1]}`

    //- script.
    //-     // open bending page by clicking on cards
    //-     - document.querySelectorAll('.bending-card').forEach( (card) => {
    //-         card.addEventListener('click', e => {
    //-             location.assign(`/bending/${card.id}`);
    //-         }
    //-     )});